<div class="container my-4">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <form class="data-form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control form-control-lg bg-light" id="firstName" placeholder="Ex. John">
        </div>
        <div class="form-group">
          <label for="middleName">Middle Name</label>
          <input type="text" class="form-control form-control-lg bg-light" id="middleName" placeholder="Ex. Michael">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control form-control-lg bg-light" id="lastName" placeholder="Ex. Doe">
        </div>
        <div class="form-group">
          <label for="birth">Date of Birth</label>
          <input type="date" class="form-control form-control-lg bg-light" id="birth" placeholder="1989|09|15">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control form-control-lg bg-light" id="email" placeholder="test@test.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="phone" class="form-control form-control-lg bg-light" id="phone" placeholder="555-555-5555">
        </div>

        <input type="hidden" id="lightId" value="{{flightId}}">
        <input type="hidden" id="availableSeats" value="{{seats}}">

        <button type="submit" class="btn btn-primary btn-lg">Reserve</button>
      </form>
    </div>
    <div class="aside-purchase col-lg-4 bg-dark rounded p-4 d-none text-center d-lg-block">
      <h1 class="display-3 text-white pt-5"> Reserve <strong> FlyAway! </strong>

      </h1>
      <h2 class="text-center display-4 text-light">

        flight <strong> for </strong> up to 24 hrs.
      </h2>
      <p class="h3 text-warning mt-4">
        Access to your reservation with your name, lastname and registered email.
      </p>
      {{!-- <div class="d-flex text-center display-5 text-light flex-row">
        <p class="text-center display-2">

          A Texan Airline<strong> that travels
            with you!</strong>
        </p>
        We created more legroom for you.
        </p>
      </div> --}}
    </div>
  </div>

</div>